.Background {
  background-color: rgb(250, 239, 196);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  width: 290px;
  background-color: #f7dd72;
  padding: 30px 30px;
  margin: 20px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.49);
  border: 2px solid #2d3142;
  border-radius: 20px;

  img {
    width: 290px;
    outline-style: dotted;
    outline-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  .title {
    font-size: 20px;
    outline-style: dotted;
    outline-color: white;
  }
  p {
    color: #2d3142;
    font-size: larger;
    font-weight: 500;
    list-style: none;
    text-decoration: underline;
  }
  :hover {
    cursor: pointer;
  }
}
