.App {
  text-align: start;
}

.App-link {
  color: #8eb8e5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  background-color: #5988b9;
  height: 40px;
  padding-bottom: 10px;
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  border-bottom: dotted;
  border-color: #2d3142;

  .navlink {
    text-decoration: none;
    color: white;
    font-size: 18px;
    justify-content: center;
    font-weight: 600;
  }

  .searchParent {
    display: flex;
  }

  ul {
    display: flex;
    margin-right: 20px;
  }

  li {
    color: white;
    list-style: none;
    list-style-type: none;
    margin: auto 15px;
  }

  .searchbar {
    button {
      justify-content: center;
      margin-top: 15px;
      margin-right: 40px;
    }
  }
}
